.row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.row:first-of-type {
  margin-top: 1rem;
}

.row:last-child {
  margin-bottom: 1.5rem;
}

.arrow-word {
  text-align: right;
  white-space: nowrap;
}
